body {
  font-family: 'Arvo', serif;
}

nav {
  text-align: center;
}

h1 {
  text-align: center;
  vertical-align: middle;
  line-height: 400px;
  font-size: 60px;
  text-shadow: 2px 2px 4px #000000;
}

#main-nav p {
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #e5e5e5;
    list-style: none;
}

#main-nav p a {
    display: block;
    padding: 20px 17px 13px;
    border: 0;
    text-decoration: none;
    color: black;
}

#main-nav a:hover {
  text-decoration: none;
  color:grey;
}

.parallax-name {
    background-image: url("http://www.watersidepropertieskenya.com/images/main-images/sunset.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

.parallax-about {
    background-image: url("https://ak2.picdn.net/shutterstock/videos/20555623/thumb/7.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

#myname {
  margin-bottom: 80px;
}

#mkenyadaima {
    margin-top: 54px;
}

#messageboard {
    margin-top: 97px;
}

#ember {
    margin-bottom: 18px;
}

.gallery {
  margin-bottom: 80px;
  text-align: center;
  list-style: square;
}

#about-header {
  margin-bottom: 80px;
}

.about-text {
  text-align: center;
}
